:root {
  --primary: #006A53;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */

}

.header {
  padding: 7px 10px;
  background-color: var(--primary);
}

.header a {
  color: white;
  text-decoration: none;
}

.main-heading {
  font-size: 45px;
  font-weight: 700;
  color: var(--primary);
  font-family: "Nunito Sans", sans-serif;
}

.secondry-heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
  font-family: "Nunito Sans", sans-serif;
}

.motto {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.about-img {
  outline: 7px solid var(--primary);
  padding: 7px;
  height: 280px;
  width: 100%;
  object-fit: cover;
}



.about-img2 {
  outline: 4px solid var(--primary);
  padding: 4px;
  height: 220px;
  width: 100%;
  object-fit: cover;
}
/*         section                 */
/* .section {
    color: #fff;
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
  } */

.section-heading {
  text-align: center;
  padding: 30px 45px;
}

.section-heading h2 {
  margin: 0 auto;
  padding: 10px auto;
  font-size: 32px;
  font-weight: 700;
  color: #006A53;
  background-color: #fff;
  transition: 1s;
}


.section-heading .line-dec {
  width: 60px;
  height: 3px;
  background-color: #006A53;
  margin: 10px auto;
}

.section-heading span {
  margin-top: 5px;
  font-size: 16px;
  color: #006A53;
  letter-spacing: 0.5px;
}

/* Buttons */

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 5px;
  background-color: #fff;
  color: #006A53;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  outline: none;
  background-color: #006A53;
  color: #fff;
}

button.active {
  outline: none;
  background-color: #006A53;
  color: #fff;
}


.isotope-toolbar span {
  text-transform: capitalize;
  display: inline-block;
  /*   margin-right: 15px;
    padding-bottom: 3px; */
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transform: ease-in-out 0.5s;
  cursor: pointer;
  flex: 1;
}

.isotope-box {
  position: relative;
  width: 100%;
  flex: 1;
}

.isotope-toolbar {
  text-align: center;
  margin: 10px;
}

.isotope-item {
  position: relative;
  width: 48%;
  margin: 1%;
  border-bottom: 2px solid rgba(250, 250, 250, 0.1);
  /* padding-bottom: 30px; */
  margin-bottom: 15px;
}

.isotope-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

figure {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

figure * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

figure figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

figure h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}

figure span {
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #7a7a7a;
}

figure svg {
  position: relative !important;
  font-size: 18px;
  background-color: #006A53;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  fill: red;
}

figure:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

figure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

figure:hover figcaption,
figure.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure:hover:after,
figure.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

footer {
  background-color: #006A53;
  padding:70px 0 20px 0;
}
.footer-logo{
  border-radius: 100%;
  width: 200px;
}
.isotope-toolbar-btn img{
  height: 50px;
}
/* .gridback{
  display: block; 
    width: 100%;   
  background-color: red;
} */
 .buy{
  background-color: white;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #006A53;
 }
 .buy:hover{
  background-color: #079c7c;
 }

 
.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color: #006A53;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}

@media only screen and (max-width:767px){
  
.about-img {
  outline: 7px solid var(--primary);
  padding: 7px;
  height: auto;
  width: 100%;
  object-fit: cover;
}



.about-img2 {
  outline: 4px solid var(--primary);
  padding: 4px;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.about-img {
  outline: 4px solid var(--primary);
  padding: 4px;
}
body{
  border-top: 10px solid #006A53;
}

.main-heading {
  font-size: 35px;
}

.secondry-heading {
  font-size: 24px;
}

.motto {
  font-size: 16px;
}
footer{
  padding-top: 50px;
}
.footer-logo{
  width: 150px;
}
.logo{
  width: 180px;
}
.isotope-toolbar-btn img{
  height: 35px;
}
.isotope-toolbar span{
  font-size: 12px;
}
}